* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body {
    background: linear-gradient(#3783f5, #77adff);
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-container {
    width: 75%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
}
h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    
    color: #fff;
}
h1 .underline {
    text-decoration: underline;
    text-decoration-thickness: .5rem;
    text-underline-offset: 5px;
}
.sign-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sign-container p {
    font-size: 1.6rem;

    color: #fff;
}
.sign-container a {
    width: 18rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.8rem;
    font-weight: 600;
    color: #3783f5;
    
    border-radius: 1.4rem;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.withoutLogin {
    width: 24rem;
    height: 5rem;
    margin-top: 3rem;
    color: #fff;
    font-size: 1.8rem;
    border: solid 1px #f2f7ff;
    border-radius: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 50px;
    height: 50px;
}
