* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body {
    padding: 0;

    position: relative;

    background: linear-gradient(#3783f5, #77adff);
    background-attachment: fixed;
    background-size: cover;
}

input[type="password"]::-ms-reveal {
    display: none;
}

/* index.php */
.indexMain-container {
    width: 100%;
    height: 100%;
    padding: 5.6rem 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.indexMain-container .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}
.indexMain-container .sub-container .sub-sub-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.indexMain-container .sub-container .sub-sub-container .welcome-title {
    display: flex;
    justify-content: center;
    position: relative;

}
.indexMain-container .sub-container .sub-sub-container .welcome-title h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;

}
.indexMain-container .sub-container .sub-sub-container .welcome-title svg {
    width: 144px;
    height: 57px;

    position: absolute;
    bottom: -5.4rem;

    transform: rotateZ(-5deg);
}
.indexMain-container .sub-container .sub-sub-container .signs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.signs-container .sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.signs-container .sign-container p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.signs-container .sign-container a {
    width: 18rem;
    height: 4.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 600;
    color: #3783f5;
    background-color: #fff;
    border-radius: 1.5rem;
}

.indexMain-container .sub-container .withoutLogin {
    width: 25.7rem;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 300;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1.5rem;;
}

/* signUp.php*/

.main-container {
    padding: 5.6rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.title-container {
    display: flex;
    justify-content: center;
}
.title-container h1 {
    font-size: 4rem;
    color: #fff;
}
.form-container {
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.form-container form {
    width: 100%;
    max-width: 39.4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.labelInput-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}
.input-container {
    width: 100%;
    height: 3.8rem;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    border-bottom: solid 1px #fff;
    
    transition: all .2s ease;
}
.input-container input {
    width: 100%;
    height: 100%;

    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;

    border: none;
    background: none;
    outline: none;
}
.input-container input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important; /* Color de fondo */
    -webkit-text-fill-color: #fff !important; /* Color de texto */
    transition: background-color 5000s ease-in-out 0s; /* Hack para evitar cambios de fondo */
}
.input-container input::placeholder {
    font-weight: 200;
    color: #BDE1FF;
}
.input-container .svg-container {
    padding: 0.4rem 0.6rem;
    position: relative;
}
.input-container .svg-container svg {
    width: 1.7rem;
    height: 1.7rem;
}
.input-container .svg-container .validationEye-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-container .svg-container .validationEye-container svg {
    width: 1.7rem;
    height: 1.7rem;
}
.input-container .svg-container .requirements-container {
    width: 21rem;
    min-height: 2.8rem;
    padding: 0.6rem 0.5rem;

    position: absolute;
    right: 0;

    border: 1px solid #dfe4eb;
    border-radius: 1rem;
    background-color: #fff;

    z-index: 100;
    display: none;
}
.input-container .svg-container .requirements-container .requirements-element {
    display: flex;
    gap: 0.5rem;
    
    font-size: 1.4rem;
    font-weight: 200;
}
.requirements-element .svgRequirement-container svg {
    width: 1.7rem;
    height: 1.7rem;
}
.usernameInput-container {
    position: relative;
}
.usernameInput-container .errorUsernameExists {
    width: 20rem;
    height: 6rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFE2E2;
    border: 1px solid #E72323;
    border-radius: 1rem;

    position: absolute;
    bottom: -6rem;

    display: none;
}
.usernameInput-container .errorUsernameExists span {
    font-size: 17px;
    font-weight: 300;
    color: #7B7B7B;
}
#passwordEye {
    width: 2rem;
    height: 2rem;
}
.submitBtn-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    position: relative;
}
.submitBtn-container button {
    width: 18rem;
    height: 4rem;

    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    color: #3783f5;

    border: none;
    border-radius: 1rem;

    cursor: pointer;
}
.submitBtn-container .errorSubmitMessage {
    width: 27rem;
    height: 5.6rem;
    padding: 0.6rem 1rem;

    text-align: center;
    position: absolute;
    bottom: -7rem;

    background-color: #FFE2E2;
    border: 1px solid #E72323;
    border-radius: 1rem;

    opacity: 0;
    /* transition: opacity 1s ease; */
   /*  animation: appear 2s ease; */
}
.submitBtn-container .errorSubmitMessage span {
    color: #E72323;
    font-size: 17px;
    font-weight: 300;
}
.submitBtn-container p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}
.submitBtn-container p a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.confirmEmailModal {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0; left: 0;
    background-color: #00000050;

    display: none;
}
.confirmEmailModal_msgContainer_loading {
    width: 18rem;
    min-height: 18rem; 
    height: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 18px;

    position: relative;

    color: #8D8D8D;
    background-color: #fff;

    border-radius: 2rem; 
}
.confirmEmailModal_msgContainer {
    width: 29.7rem;
    min-height: 36.5rem;
    height: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    position: relative;

    color: #8D8D8D;
    background-color: #fff;

    /* border: 2px solid #7b7b7b; */
    border-radius: 1rem;
}
.confirmEmailModal_msgContainer .closeModal {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0; right: 0;
    cursor: pointer;
}
.confirmEmailModal_msgContainer .closeModal svg {
    width: 2rem;
    height: 2rem;

    /* transform: translate(5px, -5px); */
}
.confirmEmailModal_msgContainer h2 {
    font-size: 24px;
    font-weight: 600;

    text-align: center;
    line-height: 24px;
}
.confirmEmailModal_msgContainer hr {
    width: 20.2rem;
    height: 2px;

    position: absolute;
    top: 7.5rem;

    background-color: #D7D7D7;
    color: #D7D7D7;
    border: none;
}
.confirmEmailModal_msgContainer .mainMsg-container {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    word-wrap: break-word;
}
.confirmEmailModal_msgContainer .mainMsg-container svg {
    width: 6.2rem;
    height: 6.2rem;
}
.loadingSvg {
    width: 7rem;
    height: 7rem;

    animation: rotate 1s ease-in-out infinite;
}
.confirmEmailModal_msgContainer .mainMsg-container .subMainMsg-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.subMainMsg-container .msg1 {
    text-align: center;
    
}
.subMainMsg-container .msg1 span {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}
.subMainMsg-container .msg2 {
    padding: 1rem;
}
.subMainMsg-container .msg2 span {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.bottomOptions {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.subBottomOptions {
    display: flex;
    align-items: flex-end;
    gap: 1.8rem;
}
.subBottomOptions span {
    font-size: 14px;
    font-weight: 500;
}
.subBottomOptions .btnResend-container {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.subBottomOptions .btnResend-container .btnResend {
    width: 8.8rem;
    height: 3.4rem;

    font-size: 14px;
    font-weight: 500;
    background-color: #E5E5E5;
    color: #ABABAB;
    border: none;
    border-radius: 5px;
}

/* logIn.php */
.logIn-container {
    width: 100%;
    height: 100%;
}
.logIn-container form .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
}
.logIn-container form .main-container .mainTop-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.logIn-container form .main-container .mainTop-container .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.logIn-container form .main-container .mainTop-container .title-container svg {
    width: 93px;
    height: 37px;
}
.logIn-container form .main-container .mainTop-container .title-container h1 {
    font-size: 40px;
    font-weight: 700;

}
.logIn-container form .main-container .mainTop-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.logIn-container form .main-container .mainTop-container .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.logIn-container form .main-container .mainTop-container .inputs-container div label {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
}
.logIn-container form .main-container .mainTop-container .inputs-container div input {
    width: 100%;
    padding: 1rem;

    background-color: transparent;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;

    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
}
.logIn-container form .main-container .mainTop-container .inputs-container div input::placeholder {
    color: #BDE1FF;
    font-size: 1.8rem;
    font-weight: 300;
}
.logIn-container form .main-container .mainTop-container .inputs-container div input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important; /* Color de fondo */
    -webkit-text-fill-color: #fff !important; /* Color de texto */
    transition: background-color 5000s ease-in-out 0s; /* Hack para evitar cambios de fondo */
}
.passwordField-container .passwordInput-container {
    padding: 0 1rem;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #fff;
}
.passwordField-container .passwordInput-container #passwordInput {
    padding: 1rem 0;
    border: none;
}
.passwordField-container .passwordInput-container #eyeIcon {
    width: 2rem;
    height: 2rem;
}
.logIn-container form .main-container .submitBtn-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    position: relative;
}
.logIn-container form .main-container .submitBtn-container p {
    font-size: 16px;
}
.logIn-container form .main-container .submitBtn-container p a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.logIn-container form .main-container .submitBtn-container .errorMsg-container {
    width: 22.6rem;
    min-height: 4.6rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    top: -7rem;

    font-size: 16px;
    font-weight: 300;
    color: #E72323;
    background-color: #FFE2E2;
    outline: 1px solid #E72323;
    border-radius: 1rem;

    opacity: 0;
}




/* Es una clase para togglear en contenedores que 
alternan entre el none y el block o flex  */
.display {
    display: block !important;
}

.disabledLabel {
    color: #BDE1FF;
}
.disabledInput {
    border-bottom: solid 1px #BDE1FF;
}

.placeholderWhite::placeholder {
    color: #BDE1FF !important;
}
.placeholderBlue::placeholder {
    color: #3783f5 !important;
}

.noPointerEvents {
    pointer-events: none;
}

.blueBold {
    font-weight: 700;
    color: #3783f5;
}

.greenColorFont {
    color: #00BF63;
}


@keyframes appear {
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}