* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body {
    padding: 0;

    background: linear-gradient(#3783f5, #77adff);
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    padding: 5.6rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-container {
    display: flex;
    justify-content: center;
}
.title-container h1 {
    font-size: 4rem;
    color: #fff;
}

.form-container {

}
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.labelInput-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}
.input-container {
    width: 100%;
    height: 3.8rem;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    border-bottom: solid 1px #fff;
}
.input-container input {
    width: 100%;
    height: 100%;

    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;

    border: none;
    background: none;
    outline: none;
}
.input-container input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important; /* Color de fondo forzado */
    -webkit-text-fill-color: #fff !important; /* Color de texto forzado */
    transition: background-color 5000s ease-in-out 0s; /* Hack para evitar cambios de fondo */
  }
.input-container input::placeholder {
    font-weight: 200;
    color: #BDE1FF;
}
.input-container .svg-container {
    padding: 0.4rem 0.6rem;
    position: relative;
}
.input-container .svg-container svg {
    width: 1.7rem;
    height: 1.7rem;
}
.input-container .svg-container .validationEye-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-container .svg-container .validationEye-container svg {
    width: 1.7rem;
    height: 1.7rem;
}
.input-container .svg-container .requirements-container {
    width: 21rem;
    min-height: 2.8rem;
    padding: 0.6rem 0.5rem;

    position: absolute;
    right: 0;

    border: 1px solid #dfe4eb;
    border-radius: 1rem;
    background-color: #fff;

    z-index: 100;
    display: none;
}
.input-container .svg-container .requirements-container .requirements-element {
    display: flex;
    
    font-size: 1.4rem;
    font-weight: 200;
}
.requirements-element .svgRequirement-container svg {
    width: 1.7rem;
    height: 1.7rem;
}
#passwordEye {
    width: 2rem;
    height: 2rem;
}
.requirements-element span {
    
}

.submitBtn-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.submitBtn-container button {
    width: 18rem;
    height: 4rem;

    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    color: #3783f5;

    border: none;
    border-radius: 1rem;
}
.submitBtn-container p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}
.submitBtn-container p a {
    font-weight: 600;
    color: #fff;
}

/* Es una clase para togglear en contenedores que 
alternan entre el none y el block o flex  */
.display {
    display: block !important;
}

