@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Outfit';
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body {
    padding: 5.6rem 3rem;

    
    background: linear-gradient(#f2f7ff, #e7f1ff 80%);
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
main .title-container {
    position: relative;
    display: flex;
    justify-content: center;
}
main .title-container .bookitTag {
    padding: 0 0.5rem;

    position: absolute;
    top: -6rem;

    background-color: #fff;
    border-radius: 1rem;
}
main .title-container .bookitTag span {
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    color: #3783f5;
}
main .title-container h1, h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    line-height: 32px;
    color: #3783f5;
}
main .instructions {
    text-align: center;
}
main .instructions span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #7b7b7b;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
form .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
form .inputs-container div label {
    color: #3783f5;
    font-size: 1.8rem;
    font-weight: 400;
}
form .inputs-container div input {
    width: 100%;
    padding: 1rem;

    background-color: transparent;
    color: #3783f5;
    font-size: 1.8rem;
    font-weight: 600;

    outline: none;
    border: none;
    border-bottom: 1px solid #3783f5;
}
form .inputs-container div input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important; /* Color de fondo */
    -webkit-text-fill-color: #3783f5 !important; /* Color de texto */
    transition: background-color 5000s ease-in-out 0s; /* Hack para evitar cambios de fondo */
}
form .submitBtn-container {
    width: 18rem;
    height: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
form .submitBtn-container button {
    width: 100%;
    height: 100%;

    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #3783f5;

    border: none;
    border-radius: 1rem;
    
    cursor: pointer;
}
form .submitBtn-container .errorMsg-container {
    width: auto;
    height: 2.6rem;
    padding: .5rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -3.7rem;

    background-color: #ffe2e2;
    outline: 1px solid #E72323;
    border-radius: .5rem;
    color: #E72323;
    font-size: 16px;
    font-weight: 300;

    opacity: 0;
}
form .submitBtn-container .errorMsg-container span {
    width: max-content;
}
.successMsg-container {
    background-color: #E2FFE5 !important;
    outline: 1px solid #00BF63 !important;
    color: #00BF63 !important;
}
/* form .submitBtn-container .errorMsg-container span {
    color: #E72323;
    font-size: 16px;
    font-weight: 300;
} */

.advice-container {
    width: 100%;
    max-width: 35rem;
    height: auto;
    padding: 1rem;

    background-color: #E5E5E5;
    border-radius: 1rem;
}
.advice-container p {
    font-size: 16px;
    font-weight: 400;

    color: #7b7b7b;
}


@keyframes appear {
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}