RewriteEngine On

RewriteRule ^(index|logIn|signUp|home|libro)$       $1\.php 

<FilesMatch "^(\.env|\.gitignore|\.gitattributes|config\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>



